<template>
    <div>
        <input type="text" v-model="ctitle"/>
        <input type="text" v-model="cdesc"/>
        <input type="datetime-local" v-model="cdeadline"/>
        <input type="checkbox" v-on:click="show = !show" v-model="completed"/>
        <input type="datetime-local" v-show="show" v-model="completed_time"/>
        <button v-on:click="addCard">Add card</button>
    </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'AddCard',
    data() {
      return {
        lid: 0,
        ctitle: '',
        cdesc: '',
        cdeadline: '',
        completed: '',
        completed_time: '',
        show: false,
      }
    },
    methods: {
      addCard: function() {
        console.log(this.$session.get("lid"))
        console.log(this.ctitle)
        console.log(this.cdesc)
        console.log(this.cdeadline)
        console.log(this.completed)
        if (this.completed == false) {
            this.completed_time = 'None'
        }
        console.log(this.completed_time)
        const card = { lid: this.$session.get("lid"), title: this.ctitle, content: this.cdesc, deadline: this.cdeadline, completed_time: this.completed_time, completed: this.completed};
        axios.post("http://127.0.0.1:5000/card", card, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response));
      }
    }
  }
  </script>