
<template>
    <div class="login-form">
      <div class="overlay">
      <div class="con">
        <header class="head-form">
          <h2 v-show="show">Signup</h2>
          <h2 v-show="!show">Login</h2>
          <p>{{ message }}</p>
        </header><br>
        <br>
        <div class="field-set">
          <input class="form-input" placeholder="Email" type="text" v-model="email"/>
          <input class="form-input" placeholder="Password" type="password" v-model="password"/>
          <button v-on:click="usignup" v-show="show">Signup</button>
          <button v-on:click="ulogin" v-show="!show">Login</button><br>
          <p v-show="show">Have an account?</p><br> <a href="" @click.prevent="change" v-show="show" class="links" >Login here.</a>
          <p v-show="!show">Don't have an account?</p><br><a href="" @click.prevent="change" v-show="!show" class="links">Create one now!</a>
        </div>
      </div>
      
    </div>
      
    </div>
  </template>
  
  <script>
import axios from 'axios'

  export default {
    name: 'UserLogin',
    data() {
      return {
      email:'',
      password:'',
      show: true,
      message: ''
    }},
    methods: {  
      usignup: function() {
        var self = this;
        const user = { email: this.email, password: this.password };
        axios.post("http://127.0.0.1:5000/userregister", user).catch(function(error) {
          self.message = error.response.data
          self.$router.push('/')
        }).then(function () {
          self.message = 'Account created successfully! Please Login.'
          self.$router.push('/')
      });
      },
      ulogin: function() {
        const user = { email: this.email, password: this.password };
        var self = this;
        axios.post("http://127.0.0.1:5000/userlogin", user).catch(function(error, response) {
          console.log(error)
          console.log(response)
          if (error) {
            console.log('HAHAHAHA Error')
            console.log(error)
            self.message = error.response.data
            self.$router.push('/')
          }
        }).then(function(response) {
          console.log(response)
            self.$session.set('email', user.email)
            self.$session.set('access_token', response.data.token)
            console.log(self.$session.get("email"))
            console.log(self.$session.get("access_token"))
            self.$router.push('/board')
        })
      },
      change: function() {
        this.show = !this.show;
      },
    }
  }
  </script>
  
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,300&display=swap'); 
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* Start body rules */
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Source Code Pro', monospace;
/*   the main font */
    font-family: 'Source Code Pro', monospace;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}



/* |||||||||||||||||||||||||||||||||||||||||||||*/
/* //////////////////////////////////////////// */




/* End body rules */

/* Start form  attributes */
.login-form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 10px;
    margin: 2% auto;
    padding: 2%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
/* form Container */
.login-form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Source Code Pro', monospace;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.05em;}

hr.solid {
  border-top: 3px solid #bbb;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    
}




/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    border-color: black;
    border-width: 2px;
    border-style: solid; 
    
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
    display: inline-block;
    color: #252537;
    font-family: 'Source Code Pro', monospace;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

.links {
  color: black !important;
  text-decoration: underline;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
</style>