<template>
    <div class="board">
      <h1 class="heading">Kanban Board</h1>
      <menu class="kanban">
      <input type="text" v-model="lname" placeholder="List Title" class="input-item"/>
          &nbsp;<button v-on:click="addList" class="addListButton">Add List</button>
    </menu>
      <p>Hello {{ this.$session.get("email") }}</p>
      <p>Lists:</p>
        <div class="main_board">
        <div v-for="(list, index) in lists" v-bind:key="list.lname" class="child_tables">
          <table>
            <thead>
            <tr>
              <th :bgcolor="(index % 2 == 0)? headingbgcolor1: headingbgcolor2">{{ list.lname }} 
                <vs-button @click="popupActivo3=true;lname=list.lname;lid=list.list_id" color="primary" type="border"><img src="../assets/edit.png" alt="" width="10px" height="10px"></vs-button>
                <vs-button @click="popupActivo4=true;lid=list.list_id" color="primary"><img src="../assets/delete.png" alt="" width="10px" height="10px"></vs-button> 
                <vs-button @click="popupActivo=true;newCard();lid=list.list_id;completed='False';show=false" color="primary" type="border"><img src="../assets/add.png" alt="" width="10px" height="10px"></vs-button>
                <vs-button @click="lid=list.list_id;lname=list.lname;exportList()" type="border"><img src="../assets/export.png" alt="" width="10px" height="10px"></vs-button>
                <vs-popup class="holamundo"  title="Are you sure you want to delete this list?" :active.sync="popupActivo4">
                  <p>All the cards associated with the list will also be deleted and cannot be recovered.</p>
                  <button v-on:click="deleteList()">Confirm</button>
                </vs-popup> 
                <vs-popup class="holamundo"  title="Change List Title" :active.sync="popupActivo3">
                  <input type="text" v-model="lname"/>
                  <button v-on:click="updateList()">Update List</button>
                </vs-popup> 
                <vs-popup class="holamundo"  title="Add new card" :active.sync="popupActivo">
                  <input type="text" v-model="ctitle"/>
                  <p>Which list?</p>
                  <div v-for="dlist in lists" :key="dlist.list_id" >
                    <input type="radio" :value="dlist.list_id" v-model="lid" >{{ dlist.lname }}
                  </div>
                  <p>Title</p>
                  <input type="text" v-model="cdesc"/>
                  <input type="datetime-local" v-model="cdeadline"/>
                  <input type="checkbox" @click="show = !show;" v-model="completed" true-value="True" false-value="False"/>
                  <input type="datetime-local" v-show="show" v-model="completed_time"/>
                  <input type="datetime-local" v-model="start_time"/>
                  <button v-on:click="addCard">Add card</button>
                  <p>{{ lid }} Value picked</p>
                  <p>{{ completed }}</p>
                </vs-popup>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div v-for="card in list.cards" v-bind:key="card.title" :style="{'box-shadow': 'rgba(0, 0, 0, 0.24) 0px 3px 8px', 'margin': '4px', 'background-color': (card.completed == 'True')? cardbgcolor2 : cardbgcolor1, 'max-width': '250px', 'margin': '20px', 'word-break': 'break-all !important', 'overflow': 'auto !important'}">{{ card.title }}
                  <br><p style="font-size: 10px;">{{ card.content }}</p><br>
                  <p style="font-size: 10px; padding: 5px;">Complete before {{ card.deadline }}</p>
                  <vs-button @click="popupActivo2=true;(card.completed=='True')?show=true:show=false;ctitle=card.title;lid=card.lid;cdesc=card.content;cdeadline=card.deadline;completed=card.completed;completed_time=card.completed_time;cid=card.card_id;start_time=card.start_time;last_modified=card.last_modified" color="primary" type="border"><img src="../assets/edit.png" alt="" width="10px" height="10px"></vs-button>
                  <vs-popup class="holamundo"  title="Change card" :active.sync="popupActivo2">
                    <input type="text" v-model="ctitle" />
                    <p>Which list? {{ card.lid }} ahahaha {{ lid }}</p>
                    <div v-for="dlist in lists" :key="dlist.list_id" >
                      <input type="radio" v-model="lid" :value="dlist.list_id" >{{ dlist.lname }}
                    </div>
                    <input type="text" v-model="cdesc" />
                    <input type="datetime-local" v-model="cdeadline" />
                    <input type="checkbox" v-on:click="show = !show;" true-value="True" false-value="False" v-model="completed" />
                    <input type="datetime-local" v-show="show" v-model="completed_time" />
                    <input type="datetime-local" v-model="start_time"/>
                    <button @click="updateCard()">Update card</button>
                    <p>{{ lid }} Value picked</p>
                    <p>{{ completed }}</p>
                  </vs-popup>
                  <vs-button v-on:click="cid=card.card_id;deleteCard()"><img src="../assets/delete.png" alt="" width="10px" height="10px"></vs-button>
                  <vs-button type="border" v-on:click="cid=card.card_id;ctitle=card.title,exportCard()" ><img src="../assets/export.png" alt="" width="10px" height="10px"></vs-button>
                </div>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
        <br>
      Check your progress!
      <button v-on:click="toSummary">Summary</button>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  export default {
    name: 'KanbanBoard',
    data() {
      return {
        lists: ['empty'],
        lid: 0,
        lname: '',
        cid: 0,
        ctitle: '',
        cdesc: '',
        cdeadline: '',
        completed: '',
        completedf: false,
        completed_time: '',
        start_time: '',
        last_modified: '',
        show: false,
        popupActivo:false,
        popupActivo2:false,
        popupActivo3:false,
        popupActivo4:false,
        edit:false,
        headingbgcolor1: "#E3FDF5",
        headingbgcolor2: "#FFE6FA",
        cardbgcolor1: "#FFFAA0",
        cardbgcolor2: "#A6ECA8",
      }
    },
    created() {
      var self = this
      const url = 'http://127.0.0.1:5000/list/'+ this.$session.get("email")
      axios.get(url, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(function(response) {
      if (response.data.message == 'token is invalid') {
        
        alert ("Token expired! Login again.");
        self.$router.push('/')
      }
      else {
        console.log(response)
        self.lists = response.data.lists
      }
      /*if (response.data.message == 'token is invalid') {
        alert ("Token expired! Login again.");
      }*/
    }).catch(error => console.log('error: ' + error));
    console.log(self.lists)
    this.dlists = this.lists
    },
    methods: {
      addList: function() {
        const url = 'http://127.0.0.1:5000/list'
        const list = {'email': this.$session.get("email"),'lname': this.lname}
        axios.post(url, list, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}})
    .then(response => console.log(response)).then(function(response) {
      if (response.data.message == 'token is invalid') {
        alert ("Token expired! Login again.");
      }
    }).then(window.location.reload());
      },
      newCard: function() {
        /*console.log(this.ctitle)
        console.log(this.cdesc)
        console.log(this.cdeadline)
        console.log(this.completed)*/
        console.log(this.lid)
        this.$session.set('lid', this.lid)
        //this.$router.push('/card')
      },
      addCard: function() {
        console.log(this.$session.get("lid"))
        console.log(this.ctitle)
        console.log(this.cdesc)
        console.log(this.cdeadline)
        console.log(this.completed)
        console.log(this.completed_time)
        if (this.completedf == true) {
          this.completed = 'True'
        } 
        else {
          this.completed = 'False'
        }
        var dateVal = new Date();
        var day = dateVal.getDate().toString().padStart(2, "0");
        var month = (1 + dateVal.getMonth()).toString().padStart(2, "0");
        var hour = dateVal.getHours().toString().padStart(2, "0");
        var minute = dateVal.getMinutes().toString().padStart(2, "0");
        this.last_modified = dateVal.getFullYear() + "-" + (month) + "-" + (day) + "T" + (hour) + ":" + (minute);
        const card = { lid: this.lid, title: this.ctitle, content: this.cdesc, deadline: this.cdeadline, completed: this.completed, completed_time: this.completed_time, start_time: this.start_time, last_modified: this.last_modified};
        axios.post("http://127.0.0.1:5000/card", card, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response)).then(window.location.reload());
      },
      updateCard: function() {
        console.log(this.$session.get("lid"))
        console.log(this.ctitle)
        console.log(this.cdesc)
        console.log(this.cdeadline)
        console.log(this.completed)
        var dateVal = new Date();
        var day = dateVal.getDate().toString().padStart(2, "0");
        var month = (1 + dateVal.getMonth()).toString().padStart(2, "0");
        var hour = dateVal.getHours().toString().padStart(2, "0");
        var minute = dateVal.getMinutes().toString().padStart(2, "0");
        this.last_modified = dateVal.getFullYear() + "-" + (month) + "-" + (day) + "T" + (hour) + ":" + (minute);
        console.log(this.completed_time)
        const url = "http://127.0.0.1:5000/card/" + this.cid
        console.log(this.cid)
        const card = { lid: this.lid, title: this.ctitle, content: this.cdesc, deadline: this.cdeadline, completed: this.completed, completed_time: this.completed_time, start_time: this.start_time, last_modified: this.last_modified};
        axios.put(url, card, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response)).then(window.location.reload());
      },
      deleteCard: function() {
        console.log('DELETEEEEEEEEEE')
        const url = "http://127.0.0.1:5000/card/" + this.cid
        console.log(url)
        axios.delete(url, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response)).then(window.location.reload());
      },
      updateList: function() {
        console.log('UPDATEEE LISTTTT')
        const url = "http://127.0.0.1:5000/list/" + this.$session.get("email")
        const list = {list_id: this.lid, lname: this.lname}
        axios.put(url, list, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response)).then(window.location.reload());
        this.edit = true
      },
      deleteList: function() {
        const url = "http://127.0.0.1:5000/list/" + this.lid
        axios.delete(url, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(response => console.log(response)).then(window.location.reload());
        console.log('DELETEEE LISTTTTTTT')
      },
      toSummary: function() {
        this.$router.push('/summary')
      },
      exportList: function() {
        console.log('Export function')
        const email = {'email': this.$session.get("email"), 'lid': this.lid, 'subject': 'Export List Details from Kanban Board', 'message': 'Please check details about ' + this.lname + ' list in the attachment'  }
        axios.post("http://127.0.0.1:5000/exportlist", email, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}})
      },
      exportCard: function() {
        console.log('Export function')
        const email = {'email': this.$session.get("email"), 'cid': this.cid, 'subject': 'Export Card Details from Kanban Board', 'message': 'Please check details about ' + this.ctitle + ' card in the attachment'  }
        axios.post("http://127.0.0.1:5000/exportcard", email, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}})
      }
    },
    
  }
  </script>

<style scoped>
.board {
  font-family: 'Source Code Pro', monospace;
}

menu {
  position: absolute;
  right: 16px;
  top: 16px;
  display: inline;
}

.main_board {
  border: 1px solid black;
  display: flex;
  padding: 10px;
  overflow-x:scroll;
  white-space:nowrap;
}

.child_tables {
  float: left;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 10px;
}



.heading {
  position: absolute;
  left: 16px;
  top: 16px;
}
.input-item {
    background: #fff;
    color: #333;
    padding: 8.5px 0px 8px 5px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.addListButton {
    display: inline-block;
    color: #252537;
    font-family: 'Source Code Pro', monospace;
  
    width: 90px;
    height: 30px;
  
    padding: 0 6px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 5% auto;
    letter-spacing: 0.05em;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

</style>
  