<template>
    <div>
        <h1>Summary Dashboard</h1>
        <div v-for="list in lists" :key="list.list_id">
          {{ list.lname }} has {{ list.cards.length }} cards
        </div>
        <p>Number of completed tasks = {{ num_of_completed_tasks }}</p>
        <label for="graphs">Choose a list:</label>
        <select name="graphs" id="graphs" v-model="gname" @change="display_graph();show=true">
          <option  v-for="g in gnames" :key="g.list_title" :value="g.graph_name"> {{ g.list_title }}</option>
        </select>
        <img v-show="show" :src="'data:image/png;base64,'+graph">
    </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'SummaryPage',
    data() {
      return {
        lists: [],
        gnames:[],
        num_of_completed_tasks: 0,
        past_deadline: 0,
        gname: '',
        imgname: require('../assets/edit.png'),
        show: false,
        graph: '',
      }
    },
    created() {
      var self = this
      const url = 'http://127.0.0.1:5000/list/'+ this.$session.get("email")
      axios.get(url, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}}).then(function(response) {
      if (response.data.message == 'token is invalid') {
        
        alert ("Token expired! Login again.");
        self.$router.push('/')
      }
      else {
        console.log(response.data.lists)
        self.lists = response.data.lists
        console.log(self.lists)
      }
      console.log('HAAHAHAHAHA')
    console.log('alkhlashlh' + self.lists)
      for (var list in self.lists) {
        console.log('am i working')
        for (var card in self.lists[list].cards) {
          console.log(self.lists[list].cards[card].completed_time)
          if (self.lists[list].cards[card].completed !== 'True') {
            console.log('lol')
            self.num_of_completed_tasks += 1
          }  
        }
      }
      console.log(self.num_of_completed_tasks)
      for (let i = 0; i < self.lists.length; i++) {
        var two = false;
        for (let j = 0; j < self.lists[i].cards.length; j++) {
          if (self.lists[i].cards[j].card_journey.length >= 1) {
            two = true;
          }
        }
        if (two == true)
          self.gnames.push({'list_title': self.lists[i].lname, 'graph_name': 'graph'.concat((i + 1).toString(),'.png')})
      }
      console.log(self.gnames)
      
      /*if (response.data.message == 'token is invalid') {
        alert ("Token expired! Login again.");
      }*/
    })
    const url1 = 'http://127.0.0.1:5000/graph/'+ this.$session.get("email")
      axios.get(url1, {headers: {'x-access-token' : `${this.$session.get("access_token")}`}})
    
    },
    methods: {
      display_graph: function() {
        console.log(this.gname)
        const url2 = 'http://127.0.0.1:5000/images/' + this.gname
        axios.get(url2).then(response => this.graph = response.data.base64)
      }
  }
    
  }
  </script>